.projectcontainer{
    display: flex;
    /* column-gap: 20px; */
    padding: 5px;
    row-gap: 15px;
    flex-direction: row;
  
}
.projectbody{
    /* background-color: var(--reviewcardcolor); */
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,82,82,1) 25%, rgba(15,15,255,1) 92%);
}
