.logo{
    height: 100px;
    width: 140px;
}
.logobox{
    /* border: 3px solid red; */
    font-size: 22px;
    font-weight: 800;
    /* padding: 5px 5px ; */
    position: relative;
}


/* logo designe 
 */
.nameall{
    border: 2px solid red;
    padding: 0px 10px;
}
.name1{
    background-color: rgb(160, 247, 84);
    color: white;
    margin: 10px 5px;
    padding: 0px 2px;
    position: absolute;
    top: -2px;
    border-radius: 15px;
}
.name2{
    background-color: rgb(41, 39, 27);
    color: white;
    margin: 10px 5px;
    padding: 0px 2px;
    position: absolute;
    top: 5px;
    left: 25px;
    border-radius: 15px;
}
.name3{
    background-color: rgb(217, 84, 247);
    color: white;
    margin: 10px 5px;
    padding: 0px 2px;
    position: absolute;
    top: -2px;
    left: 41px;
    border-radius: 15px;
}
.name4{
    background-color: rgb(170, 7, 211);
    color: white;
    margin: 10px 5px;
    padding: 0px 2px;
    position: absolute;
    top: 5px;
    left: 58px;
    border-radius: 15px;
}
.name5{
    background-color: rgb(203, 13, 159);
    color: white;
    margin: 10px 5px;
    padding: 0px 2px;
    position: absolute;
    top: -2px;
    left: 68px;
    border-radius: 15px;
}
.name6{
    background-color: rgb(117, 84, 247);
    color: white;
    margin: 10px 5px;
    padding: 0px 2px;
    position: absolute;
    top: 5px;
    left: 82px;
    border-radius: 15px;
}


body{
    background-color: var(--bg);
}

.navbar{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
.navitmes{
    display: flex;
    column-gap: 80px;
    justify-content: center;
    align-items: center;
    /* margin: 50px auto 0px; */
    /* align-items: center; */
    position: relative;
}
/* ul li a{
    border: 1px solid red;
} */
/* a::after{
    content: '';
    position: absolute;
    width: 100%;
    color: blue;
    height: 100%;
    top: 0;
    left: 0;
} */



/* hover effect on links */
/* .navimtes li a::after {
	content: "";
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.2s;
}
a:hover,
a:focus {
	color: #4c2be2;
}
a:hover::after,
a:focus::after {
	background-color: #4c2be2;
	width: 100%;
} */
.menubtn{
    display: none;
    background-color: yellow;
}